
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserIndex.cshtml";
}

<h2>Text Message Index</h2>

@Html.Hidden("Get", Url.Action("Get", "TextMessage"))
<table class="table">
    <thead>
        <tr>
           
            <th>Gönderen</th>
            <th>Mesaj</th>
            <th>Tarih</th>  
        </tr>
    </thead>
    <tbody id="tblInfo"></tbody>
</table>
