
.createGroupContainer{
    background-color:white;
    text-align:center;
    margin-top:9rem;
    border:2px solid white;
    border-radius:10px;     
    width:20rem;
    height:250px;
    box-shadow:0px 0px 20px;
}
.JoinContainer{
    background-color:white;
    text-align:center;
    margin-top:9rem;
    padding-top:30px;
    border:2px solid white;
    border-radius:10px;     
    width:20rem;
    height:250px;
    box-shadow:0px 0px 20px;
}
.createFormGroup{
    margin:auto;
    margin-top:15px;
    width:250px;
}

.createFormBtn{
    margin:auto;
    margin-top:15px;
    width:250px;   
}