body{
        	height: 100%;
            background-size: cover !important;    
            background: url('../Files/Img/bi6.jpg') center center !important;
            background-repeat: repeat !important;  
           
}
.capsule{
           
            background-size: cover !important;
            background: url('../Files/Img/bi3.jpg') center center !important;
            background-repeat: repeat !important;           
}
.search-table{
    margin-top:0px;
    margin-left:2px;
    width:99%;
    margin-right:2px;
}
.search-box{
    background: #c1c1c1;
    padding-left:0%;
    padding-right:0%;
    padding-top:2%;
    padding-bottom:2%;
    margin:auto;
    width:85%;
}
.search-box input:focus{
    box-shadow:none;
    border:2px solid #eeeeee;
}
.search-list{
    background: #fff;
    border: 1px solid #ababab;
    border-top: none;  
    width:100%;
}

.search-list h3{
    background: #eee;
    padding: 3%;
    margin-bottom: 0%;
}

