/*Home Login Part*/	
body,html {
			margin:0;
			padding: 0;
			height: 100%;
            background: url('../Files/Img/bi6.jpg') center center !important;
            background-size: cover !important;
            background-repeat: repeat !important; 

            
            
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: whitesmoke;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;     
			border-radius: 50%;
			background: white;
			padding: 10px;
             box-shadow:0px 0px 3px;
			
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
           
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background:rgba(255,129,76,1) !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: rgba(255,129,76,1) !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color:rgba(255,129,76,1) !important;
            border-color:rgba(255,129,76,1) !important;
            color:black;
		}
        .alert{
            padding:2px !important;
            margin-top:10px;
            text-align:center;
            font-weight:600;
            margin-bottom:-15px;
            letter-spacing:1px;
            font-size:small;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .alert-danger{
            color:dimgrey !important;
            background-color:none !important;
            border-color:#f5c6cb;
        }
        .card {
    margin-top: 1em;
}

.imgGroup{
    width:50px;height:50px;border:0px solid black;border-radius:50%;
}


